*{
    margin: 0;
    padding: 0;
    background-color: #156eb3;
}

.pos{
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.almight{
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}


.dot1{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: deku 6s infinite;

}
.dot2{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: deku 6s infinite;
    animation-delay: .2s;
}
.dot3{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: deku 6s infinite;
    animation-delay: .4s;
}
.dot4{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: deku 6s infinite;
    animation-delay: .6s;
}
.dot5{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: deku 6s infinite;
    animation-delay: .8s;
}
.dot6{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: deku 6s infinite;
    animation-delay: 1s;
}

@keyframes deku {
    0% { transform: rotate(0deg) translatey(30px);  }
    100%{ transform: rotate(720deg) translatey(30px); }
}
